# Hugo 生成的文件
public/  # 忽略构建输出的 public 目录
resources/  # Hugo 资源缓存目录
.hugo_build.lock  # Hugo 构建锁文件

# 其他常见忽略项
.DS_Store  # macOS 系统文件
Thumbs.db  # Windows 系统缩略图文件
*.log  # 日志文件
*.tmp  # 临时文件
node_modules/  # 如果您使用 npm 或其他依赖管理器
